@model IEnumerable<ProductViewModel>

@{
    ViewData["Title"] = "Products";
    Layout = "_ECommerceLayout";

    bool userIsSeller = User.IsInRole(Constants.ProductSellerRoleName);
    bool userIsCustomer = User.IsInRole(Constants.ProductCustomerRoleName);
}


<div class="container px-4 px-lg-5 mt-5" style="text-align:center">
    <h2>Products</h2>

@*     @if (User.IsInRole(Constants.ProductSellerRoleName))
    {
        <a asp-action="MyProducts" class="btn btn-secondary">Manage My Products</a>
    } *@
    
    <br />
    <hr />
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        @foreach (var product in Model)
        {
            if (product.Quantity < 1)
            {
                continue;
            }
            <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <a asp-action="Details" asp-route-id="@product.Id">
                            <img class="card-img-top" src="@product.ImageUri" alt="@product.Name" />
                        </a>
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">@product.Name</h5>
                                <!-- Product reviews-->
                                <div class="d-flex justify-content-center small text-warning mb-2">
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                    <div class="bi-star-fill"></div>
                                </div>
                                <!-- Product price-->
                                <h6 class="fw-normal">$@product.Price.ToString(".00")</h6>
                                <h6 class="fw-bold">Sold by: @product.SellerName</h6>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                @if (!userIsSeller) 
                                {
                                    <a class="btn btn-outline-dark mt-auto" asp-action="Details" asp-route-id="@product.Id">
                                        Add to cart
                                    </a>
                                }
                                else 
                                {
                                    <a class="btn btn-outline-dark mt-auto" asp-action="Details" asp-route-id="@product.Id">
                                        Details
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
        }
    </div>

</div>